NEXT_CHERRY_SERVER_URI="http://cherry-nft.cloud.cherryservers.net"
NEXT_PUBLIC_TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJleHAiOjE3MjczODU2ODAsInB1Yl9rZXlfaWQiOiIxMzFmZjE3ZC01MDkwLTExZWYtODAwYS0wMjQyYWMxMjAwMDIifQ.GzDShLaObtEtSKAvpYThh2LSyC5txyHzhM3-g3PYByUiesLaq7vsIL9UawFnOR84TVKteYr4j0b0iqrPzm-itwDrcoe11Eh8RWsnLDbb94zxI44HLkwAhP-8otW4a2CJNkgfcqKpJl3AcXgLeaWxcx0fRIplnCvHmFTbxMD5Wt2NUtlPFNDohNbKgTX1sOyBtZL3Ia1AuG2aDUMJ5k_VbFkqBB4tAb0QC_o3ogL5YKzxf-v46HupkYzsKluD20RuVbhwTVzxknYl4D-Kqc0iVE1sUjKJ-PaVvjm8d_1itG0bVuBYVGXXMo6x-UF7Nv2RCviEMopOaDuq5HkmcTo1jyDwGVCKz_t9GIJlCrt1ke2c74yfE01El2Epr5pkCd4pNoM_HlcBzCo2lzzAt-T_zdDCdqXth2fOpSiyQaOBiI1KyonkD_Yge16WfpvGu6BecyUCzb-PIh14evtJ26FPYvu7bAJVejvPyl6W91yrfspcBazr6hOfzrE3R4owCLkn3tT0YhKeXVyU1H1ScyuZzo5kotnuamEiSP1en_en9LC37BTvcRlc3KXNBBLpyW3PcNj2vuZNYXN4pXOYnIo8wPATVtIE6NEYwyHwb280xWeck2ndbwbgaViHfx2xFykYOEhVqycdIcQC5HmxRrgtvXow24WSOubOV2FMrwykPOk